<template>
  <section v-if="showList">
    <q-header elevated>
      <q-toolbar>
          <q-toolbar-title class="q-px-5">Movies Collection</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page class="q-px-lg">
      <q-input class="q-mb-lg" bg-white bottom-slots v-model="search" label="Label" counter maxlength="30" :dense="dense">
        <template v-slot:append>
          <q-icon v-if="text !== ''" name="close" @click="text = ''" class="cursor-pointer" />
          <q-icon name="search" />
        </template>
      </q-input>
      <div class="row items-start q-col-gutter-md">
        <div v-for="(item, i) in filteredItems" v-bind:key="i" class="col-md-3 col-sm-6 col-xs-12">
          <q-card dark bordered class="bg-grey-9 my-card">
            <q-card-section>
              <div class="text-h6 ellipsis">{{item.title}}</div>
              <div class="text-subtitle2">{{ item.director }}</div>
            </q-card-section>

            <q-card-section>
              <div class="text-right">{{ item.category }}</div>
            </q-card-section>
          </q-card>
        </div>
      </div>
      <q-page-sticky position="bottom-right" :offset="[18, 18]">
        <q-btn fab icon="add" @click="addData()" color="accent" />
      </q-page-sticky>
    </q-page>
  </section>
  <section v-else>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      ref="myForm"
    >
      <q-header elevated>
        <div class="row justify-between q-gutter-md q-py-md q-px-md">
          <q-btn color="white" flat @click="back()" type="button" icon="arrow_back" label="Back" />
          <div class="q-gutter-md">
            <q-btn color="secondary" type="submit" icon="save" label="Save" />
            <q-btn color="red" type="reset" icon="delete" label="Delete" />
          </div>
        </div>
      </q-header>
      <q-page class="q-px-lg q-col-gutter-md q-pt-xl">
        <q-input
          outlined
          v-model="movies.title"
          label="Title"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <q-input
          outlined
          v-model="movies.director"
          label="Director"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <q-input
          v-model="movies.summary"
          outlined
          label="Summary"
          type="textarea"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Please type something']"
        />
        <div class="q-gutter-sm">
          <q-radio dense v-model="movies.category" val="Action" label="Action" />
          <q-radio dense v-model="movies.category" val="Animation" label="Animation" />
          <q-radio dense v-model="movies.category" val="Drama" label="Drama" />
          <q-radio dense v-model="movies.category" val="Sci-fi" label="Sci-Fi" />
        </div>
      </q-page>
    </q-form>
  </section>
</template>
<script>
// import { ref } from 'vue'
import { useQuasar } from 'quasar'
export default {
  name: 'MoviesList',
  setup () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
    }
  },
  data () {
    return {
      search: '',
      showList: true,
      movies: {
        title: null,
        director: null,
        summary: null,
        category: 'action'
      },
      q: useQuasar(),
      listMovies: [
        {

          title: 'Kurulus Osman',
          director: 'Mehmed Bozdag',
          summary: '',
          category: 'Drama'
        },
        {

          title: 'Kudüs Fatihi Selahaddin Eyyubi',
          director: 'Emre Konuk',
          summary: '',
          category: 'Drama'
        },
        {

          title: 'Avenger',
          director: 'John Doe',
          summary: '',
          category: 'Sci-Fi'
        },
        {

          title: 'The Expendables 4',
          director: 'Silverster Stalone',
          summary: '',
          category: 'Action'
        }
      ]
    }
  },
  computed: {
    filteredItems () {
      const query = this.search.toLowerCase()
      return this.listMovies.filter(item => item.title.toLowerCase().includes(query))
    }
  },
  methods: {
    addData () {
      this.showList = false
    },
    onSubmit () {
      this.$refs.myForm.validate().then(success => {
        if (success) {
          this.listMovies.push({ ...this.movies })
          this.q.notify({
            message: 'Save Succesful.',
            color: 'green'
          })
          this.back()
        } else {
          this.q.notify({
            message: 'Please check field in form',
            color: 'red'
          })
        }
      })
    },
    onReset () {
      this.movies = {
        title: null,
        director: null,
        summary: null,
        category: 'action'
      }
    },
    back () {
      this.onReset()
      this.showList = true
    }
  }
}
</script>
